<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>My Web Application</title>
	</head>
	<body>
		<h1><font color="">Balance Page</font></h1>
		
		Balance Amount is: <p th:text="${balanceAmt}"></p>
		
		<h2><a href="/menu">Go to Menu</a></h2>
	</body>
</html>